#!define WITH_RTPENGINE
#!define WITH_NAT
#!define WITH_RTPRELAY

# How it's supposed to work:
# You have an UAC that register and you can register with the same credentials
# with another UAC and have ";+sip.srs" in the Contact header.